.game {
  background-color: #7766c6;
}


.gridLayout {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 52px;
  grid-row-gap: 0px;
}

.board {
  grid-area: 1 / 1 / 2 / 2;
}
.actionButtons {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.actionButtons .restart {
  background-image: url(../../assets/images/restart.svg);
}

.actionButtons .pause {
  background-image: url(../../assets/images/pause.svg);
}