.game {
  background-color: #7766c6;
}

.restart {
  border-radius: 12px;
  background: #f9b0c3;
  width: 88px;
  height: 88px;
  background-image: url(../../assets/images/restart.svg);
  background-repeat: no-repeat;
  padding: 22px;
  border: initial;
  background-position: center;
}

.pause {
  border-radius: 12px;
  background: #f9b0c3;
  width: 88px;
  height: 88px;
  background-image: url(../../assets/images/pause.svg);
  background-repeat: no-repeat;
  padding: 22px;
  border: initial;
  background-position: center;
}

.gridLayout {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 52px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 52px;
}
