.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../src/assets/images/results.png);
    background-repeat: no-repeat;
}

.titleCongrats {
    display: flex;
    width: 485px;
    height: 85px;
    background-color: #F9B0C3;
    color: white;
    border-radius: 200px;
    text-align: center;
    font-family: Comfortaa;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    border: 2px solid #2F2F61;
    margin-bottom: 0;
}

.titleWin {
    font-family: Comfortaa;
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
}

.restartButton {
    text-align: center;
    font-family: Comfortaa;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    border-radius: 150px;
    background-color: #FFC212;
    width: 485px;
    height: 85px;
    border: initial;
    margin-top: 20px;
    margin-bottom: 80px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.title {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 80px;
}

.cover {
    width: 1200px;
    height: 477px;
    background-color: #E0DFFE;
    border-radius: 24px;
    border: 2px solid #2F2F61;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}