.card {
  width: 100px;
  height: 100px;
  background-color: #46467a;
  border-radius: 10px;
}

.flexBlock {
  display: flex;
  gap: 50px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

img.card {
  background-color: #e0dffe;
  border: solid 4px #f9b0c3;
  padding: 20px;
  box-sizing: border-box;
}

.back {
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.4),
    6px 7px 32px 0px rgba(119, 102, 198, 0.79) inset;
}

.open {
  display: block;
}

.none {
  display: none;
}

.boardGrid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 20px;
  background-color: #46467a;
  padding: 20px;
  position: relative;
}

.moveCounter {
  display: flex;
  border-radius: 12px;
  background: #2f2f61;
  width: 200px;
  height: 88px;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
}

.move {
  display: flex;
  border-radius: 12px;
  background: #ffc212;
  width: 200px;
  height: 88px;
  justify-content: center;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
}

@media screen and (max-width: 767px) {
  .flexBlock {
    flex-direction: column;
  }
}
