@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 580px;
    background-color: #e0dffe;
    border: 2px solid #2f2f61;
    border-radius: 20px;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.4);
}

.legend {
    color: #fff;
    font-size: 36px;
    background-color: #f9b0c3;
    padding: 22px 75px;
    border-radius: 60px;
}

.question {
    color: #000;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 56px;
}
