@font-face {
  src:
    url(./MontserratAlternates-ExtraBold.ttf) format('ttf');
  font-family: 'Montserrat Alternates';
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src:
    url(./Comfortaa-Regular.woff2) format('woff2'),
    url(./Comfortaa-Regular.woff) format('woff');
  font-family: 'Comfortaa';
  font-weight: 400;
  font-style: normal;
}